@model IEnumerable<BrightlandsCasus.Models.Stap>

@{
    ViewData["Title"] = "Index";
}

<h1>Overzicht</h1>

<p>
    <a asp-action="Create">Maak een nieuwe stap aan</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StappenBeschrijving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lokaalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stappenConnectieId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StappenBeschrijving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lokaalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stappenConnectieId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Bewerken</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Verwijderen</a>
                  @*  @Html.ActionLink("Placeholder", "Index", "Stap", new { stappenConnectieId = item.Id })*@
            </td>
        </tr>
}
    </tbody>
</table>
