@model BrightlandsCasus.Models.StapConnectie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StapConnectie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StapFromId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StapFromId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StapToId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StapToId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Afstand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Afstand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RouteUitelg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RouteUitelg)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
